html {
  /*height: 100%;
  width: 100%;*/
}

body {
  /*width: 980px;
  height: 100%;*/
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.WikiDIV {
  width: 800px;
  height: 500px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  background-color: #FBF0D9;
  margin-top: 5px;
  display: block;
  overflow: auto;
  font-size: 1.25em;
  border:1px solid
}
div.WikiDIV span {
	display: none;
}
.summarytable {
  font-size: 1.5em;
  padding: 2px 2px 2px 2px;
}
.flagsmall {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}
.flagmedium {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 160px;
}
.flag {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1px;
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  /*color: black;*/
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: blue;
} 




#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
}

footer {
  /*width: 940px;*/
  height: 20px;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #0055DD;
  color: white;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */


table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #0055DD;
  background: #0055DD;
  color: white;
  text-align: left;
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}
.SubmitButton {
  background-color: #0055DD; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
    border-radius:4px;
}
.SubmitButton:disabled,
.SubmitButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.form-control {
  font-size: 2em;
}
/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
   .tdleft {
   text-align: left;
    font-size: 200%;
  height: 1em;
   }
   .tdbutton {
   text-align: left;
    font-size: 200%;
  height: 1em;
    border: 0px;
  }
   .alignleft {
	float: left;
}
.alignright {
	float: right;
}
.regionselect {
    padding:3px;
    border-radius:4px;
    margin: 0;
	    background: white;
    color:black;
	  font-size: 16px;
}
.IconButton {
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  cursor:pointer;
}
.LinkButton {
  background-color: #0055DD; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
      border-radius:4px;

}

.CountryButton {
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
      height:125px;
    width:150px;
    border-radius:4px;
}